# dataディレクトリ下のすべてのファイルを無視
data/*

# ただし、.gitkeepファイルはGithubにアップロード
!data/input/.gitkeep
!data/output/.gitkeep

# Macの隠しフォルダを除外
.DS_Store

# バックアップ用ファイルを無視
~*
*-checkpoint.ipynb
try_rank_personalization_norosen個人解析用.ipynb
prediction_waste_paper_amount_norosen.ipynb


# .envファイルを無視
.env

# バックグラウンド実行時のログファイルを無視
nohup.out